[{erlduck,
   [{connections,
      [{default,
         [{protocol, "https"},
          {host, "api.duckduckgo.com"},
          {port, 443},
          {user, <<>>},
          {pass, <<>>},
          {pool, erlduck_default}, % service pool for this connection
          {http_backend, httpclient_http_gun}, % backend for login service
          {http_backend_options, [{keepalive, 3000}, {retry_timeout, 3000}]},
          {login_handler, erlduck_login}, % authentication implementation
          {service_handler, erlduck_server} % service implementation
          ]}]},
    {service_pools,
      [{erlduck_default,
         [ % size args
           {size, 1}, % max pool size
           {max_overflow, 0}], % max # of workers created if pool is empty
         [ % worker args
           {connection, default}, % specifies which connection this pool maps to
           {http_backend, httpclient_http_gun},
           {http_backend_options, [{keepalive, 3000}, {retry_timeout, 3000}]}
           ]}] % backend for service workers
  }]
}].
